body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(239, 244, 250);
  margin: 0;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Needed for absolute positioning of suggestions */
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 22px);
  box-sizing: border-box; /* Ensures padding and border are included in width */
  position: relative; /* Needed for suggestions container to align correctly */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
}

.weather-info p {
  margin: 12px 0;
  font-size: 18px;
  color: #333;
}

.weather-info #description {
  font-weight: bold;
  color: #007BFF;
}

.weather-info #completedescription {
  font-weight: bold;
  font-size: 1em;
}

.weather-info #weather-icon img {
  width: 30%;
  height: auto; /* Maintain aspect ratio of the icon */
}

.suggestions {
  border: 1px solid #ddd;
  border-radius: 5px; /* Match the input border radius */
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 10px); /* Position suggestions below the input */
  left: 0;
  width: calc(100% - 2px); /* Adjust width to align with input */
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}

.suggestions div {
  padding: 8px;
  cursor: pointer;
  font-size: 16px; /* Ensure font size matches input for consistency */
}

.suggestions div:hover {
  background-color: #f0f0f0;
}
